header {
    height: 5em;
    width: 100%;
}

h1 {
    font-family: "Lato", sans-serif;
}

.navBar {
    float: center;
    align-content: center;
    text-align: center;
}

.tabs {
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.card {
    display: inline;
}

.mainBody {
    padding-top: 1em;
    align-content: center;
    display: block;
}

.listCard {
    display: inline;
}