header {
    height: 5em;
    width: 100%;
}

h1 {
    font-family: "Lato", sans-serif;
}


.navBar {
    float: center;
    align-content: center;
    text-align: center;
}

.tabs {
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.mainBody {
    padding-top: 1em;
    align-content: center;
    display: block;
}

.card {
    border-radius: 50em;
    align-items: baseline;
}

.addBar {
    align-content: center;
}

h2 {
    font-size: 4em;
    color: #ffffff;
}