{% extends "BaseTemp.html" %}

{% block title %} Restock Watch {% endblock %}

{% block content %}
<div class="mainBody ">
    <div class="addBar container">
        <h4>Search</h4>
        <div>
            <form class="row" action="{{ url_for('search') }}" method="post">

                <div class="col-md-3">
                    <h6>Product ID</h6>
                    <input name="ID" type="text" id="productId" class="form-control"
                           placeholder="SKU (Example: AJ2998-001)" required="">
                </div>

                <div class="col-md-3">
                    <h6>Stock region</h6>
                    <select name="region" id="stockRegion" class="form-control" required="">
                        <option value="US">United States</option>
                        <option value="CN">Canada</option>
                        <option value="US">United Kingdom</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <h6>Website</h6>
                    <select name="website" id="website" class="form-control" required="">
                        <option value="NIKE">Nike</option>
                        <option value="ADIDUS">Adidus</option>
                        <option value="SNS">SNS (Sneakers n' Stuff)</option>
                    </select>
                </div>

                <div class="col-lg-3">

                    <br>
                    <input class="btn btn-primary" type="submit" value="Submit">

                </div>
            </form>
        </div>
        <hr>
    </div>


    <div class="sneakerList container">

        <div class="container websitBox">
            <h5>Nike.com</h5>
            <div class="listCard container">

                <div class="card row ">

                    <div class="cardContent cardLeft col-md-3">
                        <img src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/nm0qnr2xqurcnbby71ml/epic-react-flyknit-running-shoe-dPT0OXxW.jpg"
                             width="200">
                    </div>

                    <div class="cardRight col-md-9">
                        <div class="cardContent">
                            <h4>Sneaker name </h4>
                            <h6>LAUNCH: FRIDAY, 9 MARCH 2018 - 3:00 EST</h6>
                            <p>Colorway - Product ID</p>
                        </div>

                        <div class="cardContent">
                            <h5>Count down timer </h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}