<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
    <header>
        <div class="divnavBar">
            <ul class="navBar">
                <li class="tabs navBtn">
                    <a href="#">
                        <h2>Coming Up</h2>
                    </a>
                </li>

                <li class="tabs navBtn">
                    <a href="#">
                        <h2>Past Release</h2>
                    </a>
                </li>

                <li class="tabs navBtn">
                    <a href="#">
                        <h2>Restock Watch</h2>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="mainBody col-md-10 container">
        <div class="addBar">
            <div class="row">
                <div class="col-md-3">
                    Product ID
                    <input type="text" id="productId" class="form-control" placeholder="SKU / Product ID (Example: B42746)" required="">
                </div>

                <div class="col-md-3">
                    Stock region
                    <select name="region" id="stockRegion" class="form-control" required="">
                        <option value="United States">United States</option>
                        <option value="Canada">Canada</option>
                        <option value="Australia / New Zealand">Australia / New Zealand</option>
                        <option value="United Kingdom">United Kingdom</option
                        ><option value="Europe">Europe</option>
                    </select>
                </div>

                <div class="col-md-4">
                    Client ID
                    <input type="text" id="clientId" placeholder="Client ID" class="form-control">
                </div>

                <div class="col-md-2">
                    <br>
                    <input type="submit" class="form-control">
                </div>

            </div>
        </div>

        <hr>
        <div class="sneakerList container">

            <div class="container websitBox">
                <h4>Nike.nom</h4>
                <div class="listCard">

                    <div class="card">
                        <img src="#" height="200" width="200">

                        <div class="card">
                            <h5>Sneaker name </h5>
                            <h6>Sneaker Colorway</h6>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</body>

</html>